{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'stick-footer.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <title>{% block title %} {% endblock %}</title>
</head>
<body style="">
    {% block header %}
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="">
          <a class="navbar-brand" href="#">Gestão RH</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse"
                  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                  aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </nav>
    </header>
    {% endblock %}
    <div class="container">
        {% block main %}
        {% endblock %}
    </div>
    {% block footer %}
        <footer class="footer">
            <div class="container" >
                <a href="">termos de serviço</a>
                <span class="text-muted">Powered by Django 2.2</span>
            </div>
        </footer>
    {% endblock %}
</body>
</html>