{% extends 'base.html' %}

{% block main %}
  <h1> Bem vindo </h1>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        Ola {{ usuario.funcionario.nome }}
        <a href="{% url 'list_funcionarios' %}">Gerenciar funcionarios</a>
        <a href="{% url 'list_departamentos' %}">Gerenciar departamentos</a>
        <a href="{% url 'list_horas' %}">Gerenciar banco de horas</a>
      </div>
      <div class="col-sm">
        <a href="{% url 'logout' %}">logout</a>
        {% if usuario.funcionario.empresa %}
          <a href="{% url 'edit_empresa' usuario.funcionario.empresa.id %}">
            Editar empresa</a>
        {% else %}
          <a href="{% url 'create_empresa' %}">Criar empresa</a>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}